<div ng-controller="homeController">
  <label>Hello? Is anybody there?</label>
  <input type="text" ng-model="hello" placeholder="Maybe a traditional greeting?">
  <hr>
  THis is a test that renders the file
  <h1>{{hello}}</h1>
  {{howdy}}
  <hr>

  Search: <input type="text" ng-model="search"/>
  Search by title: <input type="text" ng-model="search.title"/>
  Search is {{search}}
  <div class="form">
    Title: <input type="text" ng-model="newPost.title"/>
    Content: <input type="text" ng-model="newPost.content"/>
    Tags: <span ng-repeat="tag in tags">
      <input type="checkbox" value="tag.id">{{tag.name}}</input>
    </span>
    <button ng-click="submitNewPost()">Create a new post</button>
  </div>

  the new post is {{newPost}}
  <span ng-repeat="post in posts | filter:search:strict">
    <a ui-sref="show({id: post.id})">
      <h3>{{post.title}}</h3>
    </a>
    <small ng-repeat="tag_id in post.tag_ids">{{getTagName(tag_id)}}</small>
    <span>{{post.date | date:'EEEE'}}</span>
    <p>
      {{post.content}}
    </p>
    <hr>
  </span>
    {{tags}}

</div>
