<div ng-controller="newPostController">

  <div class="form"><!--New post form-->
    <h2>New Post</h2>
    Title: <input type="text" ng-model="newPost.title"/>
    Content: <input type="text" ng-model="newPost.content" class="bigContent"/>
    Tags: <span ng-repeat="tag in tags">
      <br>
      <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input>
    </span>
    <button ng-click="submitNewPost()">Create a new post</button>

    <span ng-if="newPost.title || newPost.content">Post preview:</span>
    <h2>{{newPost.title}}</h2>
    {{newPost.content}}
  </div>
</div>
